<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jason Liu | 924347759 | Assignment 2 | TensorCraft</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="../resources/style.css">
    <link rel="stylesheet" href="../resources/table.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
</head>

<body>

    <nav class="menu">
        <ul onclick="location.href='../';">Home</ul>
        <ul onclick="location.href='./two.html';">Two</ul>
        <ul class="active" onclick="location.href='#';">Three</ul>
    </nav>

    <h1>SVG Animation is easy!</h1>

    <img width="100%" height="300px" src="../resources/animation.svg">
</body>

</html>